<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThriveTribe</title>
</head>
<body>
<header class="">
    <nav class="">
        <div class="">
            <a href="/">
                <img src="logo.png" alt="ThriveTribe Logo" class="">
            </a>
        </div>
        <div class="">
            <a href="/about" class="">About</a>
            <a href="/quiz" class="">Quiz</a>
            <a href="/typesOfTherapy" class="">Types of Therapy</a>
            <a href="/therapistFinder" class="">Find A Therapist</a>
            <a href="/therapy101" class="">Therapy 101</a>
            <a href="/blog" class="">Blog</a>
            <a href="/therapistPortal" class="">Therapist Portal</a>
        </div>
    </nav>
</header>