<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThriveTribe</title>
</head>
<body>
<header class="">
    <nav class="">
        <div>
            <img src="logo.png" alt="ThriveTribe Logo" class="">
        </div>
        <div class="">
            <a href="#" class="">about</a>
            <a href="#" class="">quiz</a>
            <a href="#" class="">types</a>
            <a href="#" class="">find</a>
            <a href="#" class="">1-0-1</a>
            <a href="#" class="">blog</a>
            <a href="#" class="">therapist sign in</a>
        </div>
    </nav>
</header>
    
</body>
</html>