<%- include('partials/header') %>

<main class="class">
    <section class="class">
        <div class="class mt-8 mb-8 p-12">
            <h1 class="text-4xl font-bold mb-4 pt-8">Welcome to ThriveTribe, Your Path to Culturally Attuned Therapy</h1>
            <p class="font-semibold text-lg text-pretty indent-8 py-8">ThriveTribe is your compass in the quest for mental wellness, specially designed for Black women, including immigrants and children of immigrants. Here, you'll find a community that values your unique journey, connecting you with therapists who not only understand your cultural background but also speak your language, literally and metaphorically. Begin with our personalized quiz, tailored to guide you to therapy options that resonate with your story.</p>
            <p class="font-semibold text-lg text-pretty indent-8">At ThriveTribe, your cultural identity is not just acknowledged—it's celebrated as a cornerstone of your healing journey.</p>
        </div>
    </section>
</main>

<%- include('partials/footer') %>